<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script type="text/javascript">
window.onload = function (e) {
    // init で初期化。基本情報を取得。
    // https://developers.line.me/ja/reference/liff/#initialize-liff-app
    liff.init(function (data) {
        getProfile();
        initializeApp(data);
    });
};

// プロファイルの取得と表示
function getProfile(){
    // https://developers.line.me/ja/reference/liff/#liffgetprofile()
    liff.getProfile().then(function (profile) {
        document.getElementById('useridprofilefield').textContent = profile.userId;
        document.getElementById('displaynamefield').textContent = profile.displayName;

        var profilePictureDiv = document.getElementById('profilepicturediv');
        if (profilePictureDiv.firstElementChild) {
            profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
        }
        var img = document.createElement('img');
        img.src = profile.pictureUrl;
        img.alt = "Profile Picture";
        img.width = 200;
        profilePictureDiv.appendChild(img);

        document.getElementById('statusmessagefield').textContent = profile.statusMessage;
    }).catch(function (error) {
        window.alert("Error getting profile: " + error);
    });
}

function initializeApp(data) {
    document.getElementById('languagefield').textContent = data.language;
    document.getElementById('viewtypefield').textContent = data.context.viewType;
    document.getElementById('useridfield').textContent = data.context.userId;
    document.getElementById('utouidfield').textContent = data.context.utouId;
    document.getElementById('roomidfield').textContent = data.context.roomId;
    document.getElementById('groupidfield').textContent = data.context.groupId;
}
</script>
<body>
  <div id="profileinfo">
    <h2>Profile</h2>
    <div id="profilepicturediv">
    </div>
    <table border="1">
      <tr>
        <th>userId</th>
        <td id="useridprofilefield"></td>
      </tr>
      <tr>
        <th>displayName</th>
        <td id="displaynamefield"></td>
      </tr>
      <tr>
        <th>statusMessage</th>
        <td id="statusmessagefield"></td>
      </tr>
    </table>
  </div>
  <div id="liffdata">
    <h2>LIFF Data</h2>
    <table border="1">
      <tr>
        <th>language</th>
        <td id="languagefield"></td>
      </tr>
      <tr>
        <th>context.viewType</th>
        <td id="viewtypefield"></td>
      </tr>
      <tr>
        <th>context.userId</th>
        <td id="useridfield"></td>
      </tr>
      <tr>
        <th>context.utouId</th>
        <td id="utouidfield"></td>
      </tr>
      <tr>
        <th>context.roomId</th>
        <td id="roomidfield"></td>
      </tr>
      <tr>
        <th>context.groupId</th>
        <td id="groupidfield"></td>
      </tr>
    </table>
  </div>
